.pic_container {
    text-align: center;
}

.callout-text {
  color:#222222 !important;
}


.nav-wrapper {
    background-color: #222222 !important;
}

.callout {
    color: #FFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.edit_submit {
    margin-top: 20px;
}
